body{
    background-color: rgba(128, 128, 128, 0.171);
}

#idHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloH1{
    color: rgb(80, 90, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#formSection{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#formFieldset{
    border: none;  
    -webkit-box-shadow: -1px 0px 23px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 0px 23px -3px rgba(0,0,0,0.55);
    box-shadow: -1px 0px 23px -3px rgba(0,0,0,0.55);
    background-color: white;
    margin-top: 60px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.legendClass{
    font-weight: bold;
    font-size: 20px;
    color: rgb(80, 90, 233);
}

.labelClass{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    color: rgba(128, 128, 128, 0.829);
}

.classSelect{
    height: 22px;
    border: solid 2px ;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.336);
}

.labelInputradio{
    font-weight: 300;
    color: black;
}

.classInputNumber{
    border: solid 2px ;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.336);
}


.submitButton{
    width: 90px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgb(80, 90, 233);
    border: none;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resetButton{
    width: 90px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgba(255, 50, 50, 0.829);
    border: none;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}